# dependencies
/node_modules

# build output
/dist

# env & secrets
.env*
.dev.vars

# wrangler
.wrangler/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*

# IDE & AI editors
.idea
.claude/
**/.claude/settings.local.json
